In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import platform
if platform.system() == 'Darwin': #맥
    plt.rc('font', family='AppleGothic')

## 데이터 불러오기

In [43]:
subway = pd.read_csv('./subway.csv',encoding='cp949')
subway.head(5)

,날짜,호선,역번호,역명,구분,6시이전,6시-7시,7시-8시,8시-9시,9시-10시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시이후
0,2021-01-01,1호선,150,서울역,승차,86,111,157,306,333,...,674,837,796,839,658,579,479,510,445,101
1,2021-01-01,1호선,150,서울역,하차,85,355,438,592,841,...,791,781,710,626,437,425,354,307,134,77
2,2021-01-01,1호선,151,시청,승차,43,45,75,111,95,...,189,227,233,347,294,186,216,204,110,29
3,2021-01-01,1호선,151,시청,하차,40,145,176,312,223,...,200,158,140,152,121,57,54,64,23,17
4,2021-01-01,1호선,152,종각,승차,49,59,89,126,125,...,398,513,548,504,572,492,593,513,130,31

In [54]:
subway['합계'] = subway.iloc[:, 5:].sum(axis=1)
subway.head(5)

,날짜,호선,역번호,역명,구분,6시이전,6시-7시,7시-8시,8시-9시,9시-10시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시이후,합계
0,2021-01-01,1호선,150,서울역,승차,86,111,157,306,333,...,837,796,839,658,579,479,510,445,101,18678
1,2021-01-01,1호선,150,서울역,하차,85,355,438,592,841,...,781,710,626,437,425,354,307,134,77,19902
2,2021-01-01,1호선,151,시청,승차,43,45,75,111,95,...,227,233,347,294,186,216,204,110,29,5894
3,2021-01-01,1호선,151,시청,하차,40,145,176,312,223,...,158,140,152,121,57,54,64,23,17,5400
4,2021-01-01,1호선,152,종각,승차,49,59,89,126,125,...,513,548,504,572,492,593,513,130,31,11372

In [75]:
temp = subway.iloc[:, [0, -1]]
temp = temp.groupby('날짜',as_index=False).sum()
temp

             날짜        합계
0    2021-01-01   3857140
1    2021-01-02   6138322
2    2021-01-03   4683180
3    2021-01-04  13813706
4    2021-01-05  13841768
..          ...       ...
238  2021-08-27  15639514
239  2021-08-28  10296328
240  2021-08-29   7222952
241  2021-08-30  15682714
242  2021-08-31  15304092

[243 rows x 2 columns]

In [91]:
temp['날짜'] = temp['날짜'].apply(lambda x : pd.to_datetime(str(x), format="%Y-%m-%d")) # datetime object로 바꾸기
temp.head(1-)

SyntaxError: invalid syntax (<ipython-input-91-2292989fa3a4>, line 2)

In [90]:
sum_list = temp.set_index('날짜').resample('M').sum()
sum_list

                   합계
날짜
2021-01-31  371048500
2021-02-28  371734392
2021-03-31  463754778
2021-04-30  458586190
2021-05-31  448020684
2021-06-30  462282498
2021-07-31  412696560
2021-08-31  394633492